* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.active {
  color: white;
  background-color: #D9D9D9;
}

.nav {
  background-color: #EFEFEF;
  color: #4484CE;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
}

.nav a {
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 18px;
  color: #4484CE;
  transition: 0.5s;
}

.nav a:hover {
  background-color: #4484CE;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 3px;
  min-height: 25px;
  max-height: 200px;
  overflow-x: auto;
  overflow-y: auto;
  text-align: justify;
  background-color: #D9D9D9;
  border-radius: 5px;
}

ul li {
  position: relative;
  background: #FFFFFF;
  padding: 12px 50px 12px 8px;
  margin: 6px 3px;
  align-items: center;
  border-radius: 3px;
  word-wrap: break-word;
}

.close {
  /* float: right;
  padding-left: 4px;
  padding-right: 4px; */

  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 10px 6px 10px;
}

.close:hover {
  background-color: #4484CE;
  color: white;
}

input:hover {
  background-color: #4484CE;
  color: #FFFFFF;
}

input[type=button] {
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.box-buttons input[type=button] {
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5%;
}

textarea {
  width: 100%;
  font-size: 16px;
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: #535B60;
  resize: none;
  text-indent: 0;
  border-radius: 5px;
}


.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  margin:0px auto;
  margin-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap-reverse;
}

.flex-container > div {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#timeline {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

div {
  display: inline-block;
  text-align: center;
  align-items: center;
}

p {
  text-align: left;
}

img {
  border-radius: 50%;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: #4484CE;
  height: 1.5px;
}

#bulletins:before {
  content: "";
  display: table;
  clear: both;
}
